body {
	position: relative;
 	overflow: hidden;	
 	margin: 0;
 	height: 100vh;
}

#userSetting {
	position: fixed;
	top: 0;
	left: 0;
	max-width: 180px;
	width: 100%;
	height: 100%;
	padding: 10px;
	background: #fff;
	box-shadow: 2px 0 10px 0 rgba(0, 0, 0, .2);
}

#userSetting .lego {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 20px;
}

#userSetting .lego .item {
	padding: 10px;
	margin: 5px;
	cursor: pointer;
}

#userSetting .lego .item.active {
	color: blue;
}

#userSetting .color {
	display: flex;
	flex-flow: row wrap;
}

#userSetting .color .item {
	width: 30px;
	height: 30px;
	background: #000;
	border: 2px solid transparent;
	margin: 5px;
	cursor: pointer;
}

#userSetting .color .item.active {
	border: 2px solid red;
}