body {
	position: relative;
 	overflow: hidden;	
 	margin: 0;
}

.carousel {
	position: absolute;
	display: flex;	
	padding: 20px;
	width: 100%;
	z-index: 9999;
}

.carousel .item {
	width: 50px;
	height: 50px;
	margin: 0 10px;
	border: 2px solid transparent;
	background-position: 50% 50% ;
}



.carousel .item.active {
	border: 2px solid blue;
}